<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h5><p><strong>Hi! I'm David Espinosa, a Sr. Full Stack Software Developer from Argentina.</strong></p></h5>
			<p><strong>I love using Typescript with the Serverless framework for the backend and the Angular framework for the frontend.</strong></p>
			<p><strong>I'm convinced serverless is the future, that's why I'm constantly learning about AWS serverless services.</strong></p>
		</div>
		<div class="col-lg-4 text-center my-auto">
			<img src="assets/AWS-Certified_Cloud-Practitioner_512x512.png" alt="AWS cloud practitioner certification badge">
			<img src="assets/AWS-Certified_Solutions-Architect_Associate_512x512.png" alt="AWS architect associate certification badge">
		</div>
	</div>
</div>