<div class="row">
	<div class="col-lg-8 my-auto">
		<h5><p><strong>Hi! I'm David Espinosa, a Sr. Full Stack Software Developer from Argentina.</strong></p></h5>
		<p><strong>I love working with the latest technologies, I've been specializing in Angular, Typescript, Node and AWS Serverless but I'm open to work with any modern language, framework, library or cloud provider.</strong></p>
	</div>
	<div class="col-lg-4 text-center my-auto">
		<img src="assets/AWS-Certified_Cloud-Practitioner_512x512.png" alt="AWS cloud practitioner certification badge">
		<img src="assets/AWS-Certified_Developer_Associate_512x512.png" alt="AWS developer associate certification badge">
		<img src="assets/AWS-Certified_Solutions-Architect_Associate_512x512.png" alt="AWS architect associate certification badge">
	</div>
</div>