.container {
    background-color: white;
    padding: 1.5rem 0 0.5rem 0;

    h5 {
        margin: 0;

        p {
            margin: 0;
        }
    }

    .line {
        width: 5rem;
        height: 0.2rem;
        background: black;
        margin: 0.5rem auto;
    }
}
