<div class="container">
	<div class="row paddingless">
		<div class="col">
			<app-whoami></app-whoami>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9">
			<app-title [title]="'EXPERIENCE'"></app-title>
			<app-experience *ngFor="let experience of experiences" [experience]="experience"></app-experience>
		</div>
		<div class="col-lg-3">
			<app-title [title]="'CERTIFICATIONS'"></app-title>
			<app-certification [items]="certifications" ></app-certification>
			<app-title [title]="'LANGUAGES'"></app-title>
			<app-info [items]="languages" ></app-info>
			<app-title [title]="'EDUCATION'"></app-title>
			<app-info [items]="education" ></app-info>
			<app-title [title]="'SKILLS'"></app-title>
			<app-info [items]="skills" ></app-info>
		</div>		
	</div>
</div>