<div class="container" *ngIf="!loading">
	<div class="row">
		<div class="col">
			<div *ngIf="!errorMessage">
				<h3>{{ blogPost?.title }}</h3>
				<h6>By David Espinosa</h6>
				<hr>
				<div [innerHTML]="blogPost?.content"></div>
				<hr>
				<share-buttons class="text-center"
					[exclude]="['pinterest', 'messenger', 'tumblr', 'mix', 'xing', 'sms', 'print', 'copy']" [showText]="true">
				</share-buttons>
			</div>
			<h3 class="text-center" *ngIf="errorMessage">{{ errorMessage }}</h3>
		</div>
	</div>
</div>
<app-spinner *ngIf="loading"></app-spinner>